.App {
  text-align: center;
}

.back {    
  background: url('https://www.moddevices.com/hubfs/assets/billboards/home-billboard.jpg');
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
}
.name {
  font-family: Georgia;
  font-size: 150%;
}
p{
  color: blanchedalmond;

}
.body {
  padding-left: 12.5%;
  padding-right: 12.5%
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 2%;
    border-color: black;
    width: 25%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
  }
#w :hover{
    background-color: #282c34}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
