.App {
  text-align: center;
}

.back {    
  background: url('https://img.wallpapersafari.com/desktop/1920/1080/59/31/8uygDK.jpg');
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  color: navy;
}
.name {
  font-family: Georgia;
  font-size: 120%;
}
p{
  color: rgb(0, 0, 128);
  font-style: bold;

}
.body {
  padding-left: 12.5%;
  padding-right: 12.5%;
}
a .wrapper:hover { 
  background-color: transparent;
}
img {
  max-width: 100%;
  height: auto;
  transform: scale(0.7);
}
.form-control {
  font-size: 2rem;
  padding: 25px 15px;
}

.wrapper {
  background-color: cornsilk;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 2%;
    border-color:rgb(0, 0, 128);
    width: 25%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
  }
  .details {
    text-align: center;
    border-style: solid;
    border-color:rgb(151, 73, 0);
    background-color: rgb(204, 139, 0);
    font-size: 20px;
    display: block;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 20%;
    padding: 20px;
  }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
